{% extends 'base.html'%}
{% block content%}
{% load static %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Contact Us</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Contact Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Contact Area -->
        <section class="wn_contact_area bg--white pt--80">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-8 col-12">
        				<div class="contact-form-wrap">
        					<h2 class="contact__title">Kitob Joylash</h2>
        					<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            <form method="POST" class="register-form"  action="/users/yuklash/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="single-contact-form space-between">
                                    <input type="text" name="name"  placeholder="Kitob nomini kiriting..."/>
                                </div>

                                <div class="single-contact-form message">
                                    <textarea name="description" placeholder="Kitobning haqida kiriting..."></textarea>
                                </div>
								<h4>Kitobni yuklang</h4>
								<div class="single-contact-form space-between">
                                    <input type="file" name="pdf"  placeholder="Fayl"/>
                                </div>
								<h4>Kitobni Rasmini Kiriting</h4>
								<div class="single-contact-form space-between">
                                    <input type="file" name="photo"  placeholder="Rasm"/>
                                </div>
								<div class="single-contact-form space-between">
									<h3>Kitob turini tanlang</h3>
									<select name="category" style="padding:10px; width:450px; border-radius:25px;" >
										{% for i in category %}
											 <option  value="{{ i.id }}">{{ i.name }}</option>
										{% endfor %}
									</select>
                                </div>
								<div class="single-contact-form space-between">
                                     <h3>Muallifni  tanlang</h3>
									<select name="author" style="padding:10px; width:450px; border-radius:25px;" >
										{% for p in author %}
											 <option  value="{{ p.id }}">{{ p.name }}</option>
										{% endfor %}
											 <option  value="{{ p.id }}">Boshqa</option>
									</select>
                                </div>
                                <div class="single-contact-form space-between">
                                    <h3>Muallifni  tanlang</h3>
                                    <input type="text" name="muallif"  placeholder="Agar muallif mavjud bo'lmasa yangi muallif yarating"/>
                                </div>
                                <div class="contact-btn">
                                    <button type="submit">Joylash</button>
                                </div>
                            </form>
                        </div> 
                        <div class="form-output">
                            <p class="form-messege">
                        </div>
        			</div>
        			

        					
        		</div>
        	</div>
        	
        </section>
		
	</div>
	<!-- //Main wrapper -->

{% endblock content %}